<header [ngClass]="{
  'container top-0 w-full z-30 bg-white-500 transition-all': scrollActive,
  'pt-4': !scrollActive,
  'shadow-md pt-0': scrollActive
}">
  <nav class="max-w-screen-xl px-6 sm:px-8 lg:px-16 mx-auto grid grid-flow-col py-3 sm:py-4">
    <div class="col-start-1 col-end-2 flex items-center">
      <img class="h-16 w-auto" src="../../assets/images/logo3.png" />
    </div>
    <div class="col-start-10 col-end-12 font-medium flex justify-end items-center">
      <a href="login" class="text-black-600 mx-2 sm:mx-4  tracking-wide hover:text-green-500 transition-all text-xl">
        Login
      </a>
      <app-button-outline></app-button-outline>
    </div>
  </nav>
</header>