<div class="max-w-screen-xl mt-24 px-8 xl:px-16 mx-auto" id="about">
  <div class="grid grid-flow-row sm:grid-flow-col grid-rows-2 md:grid-rows-1 sm:grid-cols-2 gap-8 py-6 sm:py-16">
    <div class="flex flex-col justify-center items-start row-start-2 sm:row-start-1">
      <h1 class="text-3xl lg:text-4xl xl:text-5xl font-medium text-black-600 leading-normal">
        Simplify your money transef with <strong>mShape</strong>.
      </h1>
      <p class="text-black-500 mt-4 mb-6">
        Provide a network for all your needs with ease and fun using
        LaslesVPN discover interesting features from us.
      </p>
      <button class=" bg-green-800 hover:bg-green-900 text-white font-bold py-2 px-4 rounded">
        Create an Account
      </button>
    </div>
    <div class=" flex w-full">
      <img src="/src/assets/images/hero.svg" alt="image" />
    </div>
  </div>
  <section
    class="rounded-lg w-full grid grid-flow-row sm:grid-flow-row grid-cols-1 sm:grid-cols-3 py-9 divide-y-2 sm:divide-y-0 sm:divide-x-2 divide-gray-100 bg-white-500 z-10">
    <div *ngFor="let listUsers of listUser; index as i"
      class="flex items-center justify-start sm:justify-center py-4 sm:py-6 w-8/12 px-4 sm:w-auto mx-auto sm:mx-0">
      <div class="flex mx-auto w-40 sm:w-auto">
        <div class="flex items-center justify-center bg-orange-100 w-12 h-12 mr-6 rounded-full">
          <img [src]="listUsers.icon" class="h-6 w-6" style="filter: hue-rotate(90deg) saturate(2);">/>
        </div>
        <div class="flex flex-col">
          <p class="text-xl text-black-600 font-bold">
            {{ listUsers.number }}+
          </p>
          <p class="text-lg text-black-500">{{ listUsers.name }}</p>
        </div>
      </div>
    </div>
  </section>
</div>