<!-- SIDEBAR -->
<app-dashboard-nav></app-dashboard-nav>
<!-- CONTENT -->
<section id="content">
  <!-- Header -->
  <app-dashboard-header></app-dashboard-header>
  <!-- Header -->

  <!-- MAIN  CONTENT-->
  <main>
    <div class="head-title">
      <button (click)="openDialogTopUp()" class=" block w-full max-w-xs mx-auto bg-green-700 hover:bg-green-700 focus:bg-green-700 text-white rounded-lg
        px-3 py-3 font-semibold">Top
        Up Account
      </button>
      <button (click)="openDialogSend()"
        class="block w-full max-w-xs mx-auto bg-green-700 hover:bg-green-700 focus:bg-green-700 text-white rounded-lg px-3 py-3 font-semibold">Send
      </button>
      <button (click)="openDialogWithdraw()"
        class="block w-full max-w-xs mx-auto bg-green-700 hover:bg-green-700 focus:bg-green-700 text-white rounded-lg px-3 py-3 font-semibold">Withdraw
        Funds
      </button>
    </div>

    <ul class="box-info">
      <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text">
          <h3>KSH {{ balance}}</h3>
          <p>Balance</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>KSH {{ sent}}</h3>
          <p>Received</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
          <h3>KSH {{ topup}}</h3>
          <p>Sent</p>
        </span>
      </li>
    </ul>


    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Recent Transactions</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>Amount</th>
              <th>Transaction Type</th>
            </tr>
          </thead>
          <tbody>
            <!-- <ng-container *ngIf="userTransactions?.length === 0">
              <tr
                class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300">
                <p class="font-medium">No transactions available</p>
              </tr>
            </ng-container> -->
            <ng-container *ngFor="let transaction of userTransactions">
              <tr>
                <td>
                  <img [src]="transaction.userAvatar" alt="User Avatar">
                  <p>{{ transaction.userName }}</p>
                </td>
                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">KSH
                  {{ transaction.amount }}
                </td>
                <td>
                  <span
                    [class]="'status ' + (transaction.type === 'Receive' ? 'receive' : (transaction.type === 'Deposit' ? 'deposit' : (transaction.type === 'Withdraw' ? 'withdraw' : (transaction.type === 'Transfer' ? 'transfer' : ''))))">

                    {{ transaction.type }}
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="todo">
        <div class="todo-list">
          <div
            class="border-black/12.5 shadow-soft-xl relative flex h-full min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border p-4">
            <div class="relative h-full overflow-hidden bg-cover rounded-xl"
              style="background-image: url('../../../assets/images/pesa.jpg')">
              <span
                class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-80"></span>
              <div class="relative z-10 flex flex-col flex-auto h-full p-4">
                <h5 class="pt-2 mb-6 font-bold text-white">Work with the rockets</h5>
                <p class="text-white">Wealth creation is an evolutionarily recent positive-sum game. It is all about who
                  take the opportunity first.</p>
                <a class="mt-auto mb-0 font-semibold leading-normal text-white group text-sm" href="javascript:;">
                  Read More
                  <i class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"
                    aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- MAIN -->
</section>
<!-- CONTENT -->











<!-- <tbody>
  <tr>
    <td>                    [class]="'status ' + (transaction.type === 'Receive' ? 'completed' : (transaction.type === 'Deposit' ? 'process' : ''))">

      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      <p>John Doe</p>
    </td>
    <td>01-10-2023</td>
    <td><span class="status completed">Received</span></td>
  </tr>
  <tr>
    <td>
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      <p>John Doe</p>
    </td>
    <td>01-10-2023</td>
    <td><span class="status pending">Sent</span></td>
  </tr>
  <tr>
    <td>
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      <p>John Doe</p>
    </td>
    <td>01-10-2023</td>
    <td><span class="status process">Process</span></td>
  </tr>
  <tr>
    <td>
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      <p>John Doe</p>
    </td>
    <td>01-10-2023</td>
    <td><span class="status pending">Pending</span></td>
  </tr>
  <tr>
    <td>
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      <p>John Doe</p>
    </td>
    <td>01-10-2023</td>
    <td><span class="status completed">Completed</span></td>
  </tr>
</tbody> -->